In [135]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [136]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [137]:
school_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [138]:
#unique school data
school_unique_data=school_data_complete["school_name"].unique()
school_unique_data

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [139]:
#Calculate the total number of schools

Total_schools= len(school_unique_data)

Total_schools

15

In [140]:

#Calculate the total number of students
Total_Students = school_data_complete["Student ID"].count()
Total_Students

39170

In [141]:
#Calculate the total budget
Total_Budget = school_data_complete.groupby(['school_name'])
print(Total_Budget)
Total_Budget.count()
#Calculate the average math score

#Calculate the average reading score

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E51847AF48>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [142]:
unique_budget=school_data_complete["budget"].unique()
unique_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [143]:
Total_budget = unique_budget.size
Total_budget

15

In [144]:
Total_budget =sum(unique_budget)
Total_budget

24649428

In [169]:
Total_budget_value = Total_Budget['budget'].sum()
Total_budget_value

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [146]:
#Calculate the total budget
#Total_budget =school_data_complete['budget'].sum()
#Total_budget

In [147]:
#Calculate the average math score
Average_math_score =school_data_complete['math_score'].mean()
Average_math_score

78.98537145774827

In [148]:
#Calculate the average reading score
Avg_reading_score =school_data_complete['reading_score'].mean()

Avg_reading_score

#Calculate the percentage of students with a passing math score (70 or greater)

#Calculate the percentage of students with a passing reading score (70 or greater)

#Calculate the percentage of students who passed math and reading (% Overall Passing)

#Create a dataframe to hold the above results

#Optional: give the displayed data cleaner formatting

81.87784018381414

In [149]:
#Calculate the percentage of students with a passing math score (70 or greater)
school_data_complete["math_score"]>=70

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [150]:
#Calculate students with a passing math score (70 or greater)
math_score_70above =len(school_data_complete.loc[school_data_complete["math_score"]>=70])
math_score_70above

29370

In [151]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_score_per =round((math_score_70above/Total_Students )*100 ,6)
math_score_per

74.980853

In [152]:
#Calculate the students with a passing reading score (70 or greater)
Reading_score_above70 = len(school_data_complete.loc[school_data_complete["reading_score"]>=70])
Reading_score_above70

33610

In [153]:
#Calculate the percentage of students with a passing reading score (70 or greater)
Reading_score_per = round((Reading_score_above70/Total_Students )*100 ,6)
Reading_score_per

85.805463

In [154]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#Calculate Totalnumber of students who passed math and reading (% Overall Passing)
math_Reading_pass_students= len(school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)])
math_Reading_pass_students

25528

In [155]:
#Calculate Totalnumber of students who passed math and reading (% Overall Passing)
overall_pass_per = (math_Reading_pass_students/Total_Students)*100
overall_pass_per

65.17232575950983

In [158]:
#Create a dataframe to hold the above results
	Total Schools	Total Students	Total Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
0	15	39,170	$24,649,428.00	78.985371	81.87784	74.980853	85.805463	65.172326

IndentationError: unexpected indent (<ipython-input-158-4649dfc0a74a>, line 2)

In [167]:
District_summary = pd.DataFrame({"Total schools":[15] ,"TotalStudents ":[39710],"Total Budget":[24649428],
                                  "Average Math Score":[78.985371],"Average Reading Score":[81.87784],
                                  "% Passing Math":[78.9853],"% Passing Reading":[85.805463],
                                 "% Overall Passing":[65.172326]}
    
                                )
District_summary

,Total schools,TotalStudents,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39710,24649428,78.985371,81.87784,78.9853,85.805463,65.172326

In [165]:
# #Create an overview table that summarizes key metrics about each school, including:

# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

   Total schools  TotalStudents   Total Budget  % Passing Math
0             15           39710      24649428         78.9853

In [187]:
#Create an overview table that summarizes key metrics about each school, including:
# School Name
school_summary = school_data_complete.groupby(['school_name','type','size','budget'])
print(school_summary )
school_summary .count()

#Calculate the averag

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E518AE0988>

,,,,Student ID,student_name,gender,grade,reading_score,math_score,School ID
school_name,type,size,budget,,,,,,,
Bailey High School,District,4976,3124928,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1081356,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,1884411,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,1763916,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,917500,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,3022020,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,248087,427,427,427,427,427,427,427
Huang High School,District,2917,1910635,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,3094650,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,585858,962,962,962,962,962,962,962
Rodriguez High School,District,3999,2547363,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1056600,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1043130,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,1319574,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1049400,1800,1800,1800,1800,1800,1800,1800

In [ ]:
IMDB_df = movie_file_df[["FILM", "IMDB", "IMDB_norm", "IMDB_norm_round", "IMDB_user_vote_count" ]]
IMDB_df.head(5)

In [192]:
# created new data frame with "school_name", "type","size","budget","math_score","reading_score" data
school_summary =school_data_complete[["school_name", "type","size","budget","math_score","reading_score"]]
school_summary

              school_name      type  size   budget  math_score  reading_score
0       Huang High School  District  2917  1910635          79             66
1       Huang High School  District  2917  1910635          61             94
2       Huang High School  District  2917  1910635          60             90
3       Huang High School  District  2917  1910635          58             67
4       Huang High School  District  2917  1910635          84             97
...                   ...       ...   ...      ...         ...            ...
39165  Thomas High School   Charter  1635  1043130          90             99
39166  Thomas High School   Charter  1635  1043130          70             95
39167  Thomas High School   Charter  1635  1043130          84             73
39168  Thomas High School   Charter  1635  1043130          90             99
39169  Thomas High School   Charter  1635  1043130          75             95

[39170 rows x 6 columns]

In [193]:
#group by
school_summary_groupby =school_summary.groupby (['school_name','type','size','budget','math_score','reading_score'])
print(school_summary_groupby )
school_summary_groupby.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E518B48488>

Empty DataFrame
Columns: []
Index: [(Bailey High School, District, 4976, 3124928, 55, 63), (Bailey High School, District, 4976, 3124928, 55, 64), (Bailey High School, District, 4976, 3124928, 55, 65), (Bailey High School, District, 4976, 3124928, 55, 66), (Bailey High School, District, 4976, 3124928, 55, 67), (Bailey High School, District, 4976, 3124928, 55, 68), (Bailey High School, District, 4976, 3124928, 55, 69), (Bailey High School, District, 4976, 3124928, 55, 70), (Bailey High School, District, 4976, 3124928, 55, 71), (Bailey High School, District, 4976, 3124928, 55, 73), (Bailey High School, District, 4976, 3124928, 55, 74), (Bailey High School, District, 4976, 3124928, 55, 75), (Bailey High School, District, 4976, 3124928, 55, 76), (Bailey High School, District, 4976, 3124928, 55, 77), (Bailey High School, District, 4976, 3124928, 55, 78), (Bailey High School, District, 4976, 3124928, 55, 79), (Bailey High School, District, 4976, 3124928, 55, 81), (Bailey High School, District, 4976, 3124928, 55, 82), (Bailey High School, District, 4976, 3124928, 55, 83), (Bailey High School, District, 4976, 3124928, 55, 84), (Bailey High School, District, 4976, 3124928, 55, 85), (Bailey High School, District, 4976, 3124928, 55, 86), (Bailey High School, District, 4976, 3124928, 55, 87), (Bailey High School, District, 4976, 3124928, 55, 89), (Bailey High School, District, 4976, 3124928, 55, 91), (Bailey High School, District, 4976, 3124928, 55, 92), (Bailey High School, District, 4976, 3124928, 55, 93), (Bailey High School, District, 4976, 3124928, 55, 94), (Bailey High School, District, 4976, 3124928, 55, 95), (Bailey High School, District, 4976, 3124928, 55, 97), (Bailey High School, District, 4976, 3124928, 55, 98), (Bailey High School, District, 4976, 3124928, 55, 99), (Bailey High School, District, 4976, 3124928, 56, 63), (Bailey High School, District, 4976, 3124928, 56, 64), (Bailey High School, District, 4976, 3124928, 56, 65), (Bailey High School, District, 4976, 3124928, 56, 66), (Bailey High School, District, 4976, 3124928, 56, 67), (Bailey High School, District, 4976, 3124928, 56, 68), (Bailey High School, District, 4976, 3124928, 56, 69), (Bailey High School, District, 4976, 3124928, 56, 70), (Bailey High School, District, 4976, 3124928, 56, 71), (Bailey High School, District, 4976, 3124928, 56, 72), (Bailey High School, District, 4976, 3124928, 56, 73), (Bailey High School, District, 4976, 3124928, 56, 74), (Bailey High School, District, 4976, 3124928, 56, 75), (Bailey High School, District, 4976, 3124928, 56, 76), (Bailey High School, District, 4976, 3124928, 56, 77), (Bailey High School, District, 4976, 3124928, 56, 78), (Bailey High School, District, 4976, 3124928, 56, 79), (Bailey High School, District, 4976, 3124928, 56, 80), (Bailey High School, District, 4976, 3124928, 56, 81), (Bailey High School, District, 4976, 3124928, 56, 82), (Bailey High School, District, 4976, 3124928, 56, 83), (Bailey High School, District, 4976, 3124928, 56, 84), (Bailey High School, District, 4976, 3124928, 56, 85), (Bailey High School, District, 4976, 3124928, 56, 86), (Bailey High School, District, 4976, 3124928, 56, 87), (Bailey High School, District, 4976, 3124928, 56, 88), (Bailey High School, District, 4976, 3124928, 56, 89), (Bailey High School, District, 4976, 3124928, 56, 90), (Bailey High School, District, 4976, 3124928, 56, 91), (Bailey High School, District, 4976, 3124928, 56, 92), (Bailey High School, District, 4976, 3124928, 56, 93), (Bailey High School, District, 4976, 3124928, 56, 94), (Bailey High School, District, 4976, 3124928, 56, 95), (Bailey High School, District, 4976, 3124928, 56, 96), (Bailey High School, District, 4976, 3124928, 56, 97), (Bailey High School, District, 4976, 3124928, 56, 98), (Bailey High School, District, 4976, 3124928, 56, 99), (Bailey High School, District, 4976, 3124928, 57, 64), (Bailey High School, District, 4976, 3124928, 57, 65), (Bailey High School, District, 4976, 3124928, 57, 67), (Bailey High School, District, 4976, 3124928, 57, 68), (Bailey High School, District, 4976, 3124928, 57, 69), (Bailey High School, District, 4976, 3124928, 57, 70), (Bailey High School, District, 4976, 3124928, 57, 71), (Bailey High School, District, 4976, 3124928, 57, 72), (Bailey High School, District, 4976, 3124928, 57, 73), (Bailey High School, District, 4976, 3124928, 57, 75), (Bailey High School, District, 4976, 3124928, 57, 76), (Bailey High School, District, 4976, 3124928, 57, 77), (Bailey High School, District, 4976, 3124928, 57, 78), (Bailey High School, District, 4976, 3124928, 57, 79), (Bailey High School, District, 4976, 3124928, 57, 80), (Bailey High School, District, 4976, 3124928, 57, 81), (Bailey High School, District, 4976, 3124928, 57, 82), (Bailey High School, District, 4976, 3124928, 57, 83), (Bailey High School, District, 4976, 3124928, 57, 84), (Bailey High School, District, 4976, 3124928, 57, 85), (Bailey High School, District, 4976, 3124928, 57, 86), (Bailey High School, District, 4976, 3124928, 57, 87), (Bailey High School, District, 4976, 3124928, 57, 88), (Bailey High School, District, 4976, 3124928, 57, 89), (Bailey High School, District, 4976, 3124928, 57, 90), (Bailey High School, District, 4976, 3124928, 57, 92), (Bailey High School, District, 4976, 3124928, 57, 93), (Bailey High School, District, 4976, 3124928, 57, 94), (Bailey High School, District, 4976, 3124928, 57, 95), (Bailey High School, District, 4976, 3124928, 57, 96), (Bailey High School, District, 4976, 3124928, 57, 97), ...]

[16273 rows x 0 columns]

In [ ]:
state_duration = grouped_usa_df["duration (seconds)"].sum()
state_duration.head()

In [195]:
df1= school_summary_groupby['math_score'].mean()
df1

school_name         type      size  budget   math_score  reading_score
Bailey High School  District  4976  3124928  55          63               55
                                                         64               55
                                                         65               55
                                                         66               55
                                                         67               55
                                                                          ..
Wright High School  Charter   1800  1049400  99          94               99
                                                         95               99
                                                         96               99
                                                         97               99
                                                         98               99
Name: math_score, Length: 16273, dtype: int64