In [230]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [231]:
# Checking the data displayed in the dataframe
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [232]:
#Calculate the total number of students
Total_Students = school_data_complete["Student ID"].count()
Total_Students

39170

In [233]:
# Get a list of all of our columns for easy reference
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [234]:
# Create a list of the columns
#columns = ["school_name"]

#  Create a new df for "Average math score,average reading score,%math score,%reading score, " with the columns. 
school_disct_summary =school_data_complete.loc[school_data_complete["math_score"]>=70]
school_disct_summary

#calculate Average math score
average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)
#Calculate the number of students with a passing math score (70 or greater)
math_score_70above =len(school_data_complete.loc[school_data_complete["math_score"]>=70])
print(math_score_70above)

#Calculate the percentage of students with a passing math score (70 or greater)
math_score_per =round((math_score_70above/Total_Students )*100 ,6)
print(math_score_per)

78.98537145774827
29370
74.980853

In [235]:
# School Name : school_unique_data
# School Type: School_type
# Total Students:Total_Students
# Total School Budget:Total_budget
# Per Student Budget:Per_student_budget
# Average Math Score:Average_math_score]
# Average Reading Score: Avg_reading_score
# % Passing Math: math_score_per
# % Passing Reading:Reading_score_per
# % Overall Passing (The percentage of students that passed math and reading.):overall_pass_per

In [236]:
#calculate the Reading_score average and Percentages
school_disct_summary =school_data_complete.loc[school_data_complete["reading_score"]>=70 ,  columns]
school_disct_summary
average_Reading_score = school_data_complete['reading_score'].mean()
print(average_Reading_score)

#Calculate the number of students with a passing reading score (70 or greater)
Reading_score_above70 = len(school_data_complete.loc[school_data_complete["reading_score"]>=70])
print(Reading_score_above70)

#Calculate the percentage of students with a passing reading score (70 or greater)
Reading_score_per = round((Reading_score_above70/Total_Students )*100 ,6)
print(Reading_score_per)

81.87784018381414
33610
85.805463

In [237]:
#Calculate Totalnumber of students who passed math and reading (% Overall Passing)
math_Reading_pass_students= len(school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)])
math_Reading_pass_students

25528

In [238]:
#Calculate Totalnumber of students who passed math and reading (% Overall Passing)
overall_pass_per = round((math_Reading_pass_students/Total_Students)*100 ,6)
overall_pass_per

65.172326

In [239]:
#unique school data
school_unique_data=school_data_complete["school_name"].unique()
school_unique_data

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [240]:
#Calculate the total number of schools

Total_schools= len(school_unique_data)

Total_schools

15

In [241]:
# unique budget data in the column
unique_budget=school_data_complete["budget"].unique()
unique_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [242]:
# Finding Total budget
Total_budget =sum(unique_budget)
Total_budget

24649428

In [243]:
#Each student budget 
Per_student_budget = Total_budget/Total_Students
Per_student_budget

629.2935409752362

In [244]:
# unique School_types
School_type = school_data_complete["type"]
School_type

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

In [255]:
#  Create new columns average math score,average reading score,% paaing math,% passing reading,%Overall passing.
#school_disct_summary["school Name"] =school_data_complete["school_name"]
school_disct_summary
school_disct_summary["school_Type"] =school_data_complete["type"]
school_disct_summary
school_disct_summary["School_Total_budget"] = school_data_complete["budget"]
school_disct_summary
school_disct_summary["Total_students"] =school_data_complete["Student ID"]
 
school_disct_summary

school_disct_summary["Per_student_budget"] =Total_budget/Total_Students
school_disct_summary
school_disct_summary["average_math_score"] =school_data_complete['math_score'].mean()

school_disct_summary
school_disct_summary["average_Reading_score"] =school_data_complete['reading_score'].mean()
school_disct_summary
school_disct_summary["% passing Math"] =round((math_score_70above/Total_Students )*100 ,6)
school_disct_summary
school_disct_summary["% paasing Reading"] =round((Reading_score_above70/Total_Students )*100 ,6)
school_disct_summary
school_disct_summary["% Overall passing"] =round((math_Reading_pass_students/Total_Students)*100,6)
school_disct_summary

,school_name,school_Type,School_Total_budget,Total_students,Per_student_budget,average_math_score,average_Reading_score,% passing Math,% paasing Reading,% Overall passing
1,Huang High School,District,1910635,1,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
2,Huang High School,District,1910635,2,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
4,Huang High School,District,1910635,4,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
5,Huang High School,District,1910635,5,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
6,Huang High School,District,1910635,6,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
...,...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1043130,39165,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
39166,Thomas High School,Charter,1043130,39166,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
39167,Thomas High School,Charter,1043130,39167,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
39168,Thomas High School,Charter,1043130,39168,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326
39169,Thomas High School,Charter,1043130,39169,629.293541,78.985371,81.87784,74.980853,85.805463,65.172326

In [246]:
school_disct_summary.columns

Index(['school_name', 'school_Type', 'School_Total_budget', 'Total_students',
       'Per_student_budget', 'average_math_score', 'average_Reading_score',
       '% passing Math', '% paasing Reading', '% Overall passing'],
      dtype='object')

In [247]:
# # created new data frame with "school_name", "type","size","budget","math_score","reading_score" data
# School_summary =({"school_name":[school_unique_data],"School_Type ":[School_type],"Total_Students":[Total_Students],
                                
#                                 "Total_School_Budget":[Total_budget],"Per_Student_Budget":[Per_student_budget],
                                 
#                                 "Average_Math_Score":[Average_math_score],"Average_Reading_Score":[Avg_reading_score],
#                                 "% Passing Math":[math_score_per],"% Passing Reading":[Reading_score_per],
#                                  "% Overall Passing":[overall_pass_per]                            
                                                                                               
#                                 })
# school_summary_df =pd.DataFrame(School_summary)   

# school_summary_df.head()

657504866

In [260]:
# Group by the schools


school_disct_summary_groups =school_disct_summary.groupby("school_name")
school_disct_summary_groups["school_name"].count()
school_disct_summary_groups[""Total_students","].count()

SyntaxError: invalid syntax (<ipython-input-260-6b27dbe97b08>, line 6)

In [259]:
# Get the average of each column within the GroupBy object
school_disct_summary_groups["Total_students"].sum()

school_name
Bailey High School        83006203
Cabrera High School       30544600
Figueroa High School      10477295
Ford High School          78558499
Griffin High School       18533799
Hernandez High School     37253547
Holden High School         9477891
Huang High School          3471441
Johnson High School      125411472
Pena High School          21927071
Rodriguez High School     89955820
Shelton High School       11383469
Thomas High School        61019032
Wilson High School        32776470
Wright High School        43708257
Name: Total_students, dtype: int64