In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
school_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [6]:
#Remove the duplicates
school_data_complete.dropna(how ="any")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [7]:
#unique school data
school_unique_data=school_data_complete["school_name"].unique()
school_unique_data

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [8]:
#Calculate the total number of students
Total_Students = school_data_complete["Student ID"].count()
Total_Students

39170

In [9]:
#Calculate the total number of schools

Total_schools= len(school_unique_data)

Total_schools

15

In [10]:
# unique budget data in the column
unique_budget=school_data_complete["budget"].unique()
unique_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [11]:
# Finding Total budget
Total_budget =sum(unique_budget)
Total_budget

24649428

In [12]:
#Calculate the average math score
Average_math_score =school_data_complete['math_score'].mean()
Average_math_score

78.98537145774827

In [13]:
#Calculate the average reading score
Avg_reading_score =school_data_complete['reading_score'].mean()

Avg_reading_score

81.87784018381414

In [14]:
#Calculate the percentage of students with a passing math score (70 or greater)
school_data_complete["math_score"]>=70

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [15]:
#Calculate students with a passing math score (70 or greater)
math_score_70above =len(school_data_complete.loc[school_data_complete["math_score"]>=70])
math_score_70above

29370

In [16]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_score_per =round((math_score_70above/Total_Students )*100 ,6)
math_score_per

74.980853

In [17]:
#Calculate the students with a passing reading score (70 or greater)
Reading_score_above70 = len(school_data_complete.loc[school_data_complete["reading_score"]>=70])
Reading_score_above70

33610

In [18]:
#Calculate the percentage of students with a passing reading score (70 or greater)
Reading_score_per = round((Reading_score_above70/Total_Students )*100 ,6)
Reading_score_per

85.805463

In [19]:
#Calculate Totalnumber of students who passed math and reading (% Overall Passing)
math_Reading_pass_students= len(school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)])
math_Reading_pass_students

25528

In [43]:
#Calculate Totalnumber of students who passed math and reading (% Overall Passing)
overall_pass_per = (math_Reading_pass_students/Total_Students)*100
overall_pass_per

65.17232575950983

In [37]:
#Create a dataframe to hold the above results
District_summary = pd.DataFrame({"Total schools":[Total_schools] ,"TotalStudents ":[Total_Students ],"Total Budget":[Total_budget],
                                  "Average Math Score":[Average_math_score],"Average Reading Score":[Avg_reading_score],
                                  "% Passing Math":[math_score_per],"% Passing Reading":[Reading_score_per],
                                 "% Overall Passing":[overall_pass_per]}
    
                                )
District_summary

#Optional: give the displayed data cleaner formatting

,Total schools,TotalStudents,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [38]:
# created new data frame with "school_name", "type","size","budget","math_score","reading_score" data
school_summary =school_data_complete[["school_name", "type","size","budget","math_score","reading_score"]]
school_summary

              school_name      type  size   budget  math_score  reading_score
0       Huang High School  District  2917  1910635          79             66
1       Huang High School  District  2917  1910635          61             94
2       Huang High School  District  2917  1910635          60             90
3       Huang High School  District  2917  1910635          58             67
4       Huang High School  District  2917  1910635          84             97
...                   ...       ...   ...      ...         ...            ...
39165  Thomas High School   Charter  1635  1043130          90             99
39166  Thomas High School   Charter  1635  1043130          70             95
39167  Thomas High School   Charter  1635  1043130          84             73
39168  Thomas High School   Charter  1635  1043130          90             99
39169  Thomas High School   Charter  1635  1043130          75             95

[39170 rows x 6 columns]

In [ ]:
school_summary_df_groupby =school_summary_df_groupby['school_name','type','size','budget','math_score','reading_score'])